# Default ignored files
/shelf/
/workspace.xml
checklist.md
# Datasource local storage ignored files
/../../../../../../:\Users\Cedric\IdeaProjects\hs-fulda-ERROR40game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
